.titulo, footer h3, header h1, main h2 {
  text-align: center;
  text-decoration: underline;
}

main {
  background-color: rgb(246, 243, 238);
}
main h2 {
  font-family: "DM Serif Display", serif;
  font-size: 45px;
  padding: 10px 0px 10px 0px;
}

* {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: rgb(0, 0, 0);
}
header .logo {
  max-width: 6rem;
  border: 3px solid;
  border-color: rgb(255, 255, 255);
}
header h1 {
  font-family: "DM Serif Display", serif;
  font-size: 50px;
  color: rgb(255, 255, 255);
}
header nav {
  display: flex;
}
header nav .nav-list {
  display: flex;
  list-style-type: none;
  gap: 3rem;
}
header nav .nav-list li {
  display: flex;
}
header nav .nav-list li a {
  font-family: sans-serif;
  font-size: 2rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 1s;
}
header nav .nav-list li a:hover {
  text-decoration: underline;
  transform: scale(1.1);
}

main {
  background-color: rgb(255, 255, 255);
}

footer {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  gap: 3rem;
}
footer h3 {
  font-family: "Volkhov", serif;
  font-size: 35px;
  margin: 20px 15px;
  color: rgb(255, 255, 255);
}

svg {
  fill: rgb(248, 247, 247);
  position: relative;
  top: 25px;
}

/*textos y parrafos*/
.titulo {
  font-family: "Volkhov", serif;
  font-size: 35px;
  margin: 20px 15px;
  color: rgb(0, 0, 0);
}

.presentacion {
  text-align: center;
  padding: 20px 50px;
  font-size: 25px;
  font-family: "DM Serif Display", serif;
}

.p1 {
  padding: 25px 50px;
  font-size: 25px;
  font-family: "DM Serif Display", serif;
}

.festejo-video {
  font-size: 25px;
  font-weight: bold;
}

.individuales {
  display: flex;
}

/*imagenes y videos*/
.img-video {
  padding: 30px 50px;
  display: flex;
  border: 5px solid;
  background-color: rgb(3, 188, 255);
}

.foto {
  border: 5px solid;
  border-color: rgb(4, 4, 3);
}

.newells {
  display: flex;
}

.ciudad-casa {
  display: flex;
}

.casa {
  display: flex;
  border: 5px solid;
  margin: 10px;
  border-radius: 15px;
}

.debut {
  border: 5px solid;
  margin: 5px 15px 5px 15px;
}

.titulos {
  width: 500px;
  border: 5px solid;
  margin: 0px 10px 0px 10px;
}

.logros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logros img {
  width: 30%;
  margin: 10px;
  max-width: 100%;
}

.video {
  display: flex;
  justify-content: center;
}

/*GRID*/
.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.div {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 2.5fr;
  grid-template-rows: 0.5fr 5fr 0.5fr;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
}

@media (max-width: 576px) {
  .div {
    grid-template-columns: 0.6fr 4fr;
    grid-template-rows: 5fr 5fr 0.1;
    grid-template-areas: "header main" "header main" "footer footer";
  }
  .nav {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
  }
  .nav-list {
    flex-direction: column;
    padding: 1rem;
  }
  h1 {
    display: none;
  }
  .p1 {
    font-size: 18px;
  }
}
/*GRID TITULOS*/
.headerT {
  grid-area: header;
}

.mainT {
  grid-area: main;
}

.footerT {
  grid-area: footer;
}

.divT {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 2.5fr;
  grid-template-rows: 0.5fr 5fr 0.5fr;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
}

@media (max-width: 576px) {
  .divT {
    grid-template-columns: 0.6fr 4fr;
    grid-template-rows: 5fr 5fr 0.1;
    grid-template-areas: "header main" "header main" "footer footer";
  }
  .nav {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
  }
  .nav-list {
    flex-direction: column;
    padding: 1rem;
  }
  h1 {
    display: none;
  }
  .p1 {
    font-size: 18px;
  }
  .logros {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
