@import "../scss/base/vars";



body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;


    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
        background-color: $color1;

        .logo{
            max-width: 6rem;
        border: 3px solid;
        border-color: $color2;
        }

        h1{
            text-align: center;
            text-decoration: underline;
            font-family: 'DM Serif Display', serif;
            font-size: 50px;
            color: $color2;
        }
        nav{
            display: flex;

        

            .nav-list{
                display: flex;
                list-style-type: none;
                gap: 3rem;
            
            
                li{
                    display: flex;
                
                    a{
                        font-family: sans-serif;
                        font-size: 2rem;
                        text-decoration: none;
                        color: $color2;
                        transition: 1s;
                        



                        &:hover{
                            text-decoration: underline;
                            transform: scale(1.1);
                            color: rgb(251, 30, 30);
                        }
                    }
                
                }  
            }
        }    
    }

    main{
        background-color: $color2;

        h2{
            text-align: center;
            text-decoration: underline;
            font-family: 'DM Serif Display', serif;
            font-size: 45px;
            padding: 10px 0px 10px 0px; 
        }

        .presentacion{
            text-align: center;
            padding: 20px 50px;
            font-size: 25px;
            font-family: 'DM Serif Display', serif;
        }

        .img-video{
            justify-content: left;
            display: flex;
            margin: 1rem;

            .foto{
                border-color: rgb(4, 4, 3);
                display: flex;

                .bordes{
                    border-radius: 15px;
                }
            }

            .festejo-video{
                font-size: 25px;
                font-weight: bold;
                text-align: center;
            }

        }
        

        .grid-container{
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            padding: 20px;

            .p1{
                padding: 25px 50px;
                font-size: 25px;
                font-family: 'DM Serif Display', serif;
            }
        }

        .p1{
            padding: 25px 50px;
            font-size: 25px;
            font-family: 'DM Serif Display', serif;
        }

        .ciudad-casa{
            display: flex;

            .casa{
                display: flex;
                border: 5px solid;
                margin: 10px;
                border-radius: 15px;

                .bordes{
                    border-radius: 15px;
                }   

                .festejo-video{
                    font-size: 25px;
                    font-weight: bold;
                    text-align: center;
                }
            }
        }

        .titulo{
            text-align: center;
            text-decoration: underline;
            font-family: 'Volkhov', serif;
            font-size: 35px;
            margin: 20px 15px;
            color: $color1;

            .debut{
                border-radius: 15px;
                margin: 5px 15px 5px 15px;
            }
        }

        .video{
            display: flex;
            justify-content: center;

            .debut{
                border-radius: 15px;
                margin: 5px 15px 5px 15px;
            }
        }

        .debut{
            border-radius: 15px;
            margin: 5px 15px 5px 15px;
        }

        .logros{
            display: flex;
            flex-wrap: wrap; 
            justify-content: center;

            .titulos{
                width: 30%;
                border: 5px solid;
                margin: 10px;

            }
        }

        .individuales{
            display: flex;

            .debut{
                border-radius: 15px;
                margin: 5px 15px 5px 15px;
            }
        }

    }


    footer{
        background-color: $color1 ;
        display: flex;
        justify-content: center;
        gap: 3rem;
        height: 70px;
        
        h3{
                text-align: center;
    text-decoration: underline;
            font-family: 'Volkhov', serif;
            font-size: 35px;
            margin: 20px 15px;
            color: $color2;
        }

        svg{
            fill: rgb(248, 247, 247);
            position: relative;
            top: 25px;
        }

    }
}




@import "../scss/base/mediaQuery";

