main{
    background-color: rgb(246, 243, 238);

    h2{
        font-family: 'DM Serif Display', serif;
        text-align: center;
        text-decoration: underline;
        font-size: 45px;
        padding: 10px 0px 10px 0px;  
    }

    h3{
        font-family: 'Volkhov', serif;
        font-size: 35px;
        text-align: center;
        text-decoration: underline;
        margin: 20px 15px;
        color: rgb(255, 255, 255);
    }
}

