main{
    background-color: rgb(246, 243, 238);

    h2{
        font-family: 'DM Serif Display', serif;
        text-align: center;
        text-decoration: underline;
        font-size: 45px;
        padding: 10px 0px 10px 0px;  
    }
     
}

